.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
        .logo_title{
            text-decoration: none;
            color: #000;
            font-size: 20px;
        }
        .burger_btn{
            display: flex;
            flex-direction: column;
            // opacity: 0;
            transform: translateY(-399px);
            cursor: pointer;
            gap: 10px;
            span{
                width: 40px;
                height: 4px;
                background-color: #000; 

            }
        }
        .active_btn{
            display: flex;
            flex-direction: column;
            cursor: pointer;
            z-index: 40;
            gap: 10px;
            // transform: translateX(-200px);
            transition: 0.5s;
            span{
                width: 40px;
                height: 4px;
                background-color: #fff; 
                    &:nth-child(1){
                        // background-color: red;
                        transform: rotate(-50deg);
                        width: 40px;
                    }
                    &:nth-child(2){
                        background-color: aqua;
                        display: none;
                    }
                    &:nth-child(3){
                        // background-color: green;
                        width: 50px;
                        transform: rotate(50deg);
                        
                        
                    }

            }
        }
        @media (max-width:900px) {
            .burger_btn{
                transform: translateY(0px)
            }
         }

        nav{
            display: flex;
            gap: 50px;
            a{
                font-size: 20px;
                cursor: pointer;
                text-decoration: none;
                color: #000;
                    &:hover{
                        color: gray;
                        transition: 0.4s;
                    }
            }
        }
        @media (max-width:900px) {
            nav{
                // display: none;
                flex-direction: column;
                text-align: start;
                justify-content: center;
                align-items:center;
                // transform: translateX(100%);
                transition: 0.5s;
                background-color: #000;
                position: fixed;
                top: 0;
                right: -100%;
                width: 300px;
                min-height: 100%;
                    a{
                        color: #fff;
                    }
            }
            .active{
                right: 0%;
                z-index: 10;
            }
        }
}